div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 120px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container-fluid .row {
  background-color: #f4ffca;
}
.container-fluid .row .logo img {
  width: 200px;
  height: 100px;
  text-align: center;
}
.menu {
  background-color: #f4ffca;
}
section {
  padding: 2% 2%;
}

body h2 {
  color: #ff914d;
  text-align: center;
}
body {
  overflow-x: hidden;
}
section p {
  color: #18543c;
}
body {
  background-color: #f4ffca;
}
.main_content .container_receitas {
  margin-top: 20px;
  width: 100%;
}
.container_receitas .col-sm {
  margin: 20px;
}
.container_receitas .col-sm .card-img-overlay a {
  line-height: 6px;
  background-color: #f4ffca;
  color: #ff914d;
}
footer {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #ff914d;
}
.card-img-overlay a {
  color: #f4ffca;
}

main .carousel-inner picture img {
  width: 100%;
  height: 70vh;
}

main .carousel-inner .item {
  height: 35vh;
  width: 100%;
  min-height: 200px;
}

#selecionar {
  margin-right: 2%;
}

#alimento {
  padding: 2%;
  border-color: #f07e37;
}
.log{
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 30px;
}